.data{
    flex:1;
    padding: 10px 0px 0px 20px;
}
.data__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid lightgray;
    height:40px;
}
.data__headerLeft{
    display: flex;
    align-items: center;
}
.data__headerRight svg{
    margin: 0px 10px;
}
.data_grid{
    display:flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.data_file{
text-align: center;
border: 1px solid lightgray;
margin:10px;
min-width:200px;
padding:10px 0px 0px 0px;
border-radius: 5px;
}
.data_file svg{
    font-size:60px;
    color: gray;
}
.data_file p{
    border-top:1px solid #ccc;
    margin-top:5px;
    font-size: 12px;
    background-color: whitesmoke;
    padding: 10px 0px;
}
.detailsrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.detailsrow p{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.detailsrow p svg{
    font-size: 22px;
    margin: 10px;
}