.header{
    display:grid;
    grid-template-columns: 300px auto 200px;
    align-items: center;
    padding: 5px 20px;
    height:60px;
    border-bottom: 1px solid light gray;
}
.header__logo img{
    width:40px;
    align-items: center;
}
.header__logo span{
    font-size: 36px;
    margin-left: 10px;
    color:gray;
}
.header__search{
    display:flex;
    align-items: center;
    width:700px;
    background-color: whitesmoke;
    padding:12px;
    border-radius: 10px;
}
.header__search input{
    background-color: transparent;
    border:0;
    outline:0;
    flex:1;
}
.header__icons{
    display:flex;
    align-items: center;
    margin:0px 10px 0px 10px;
}

.header__icons span{
    margin-left: 10px;
    display:flex;
    align-items: center;
    
}

